jwt:
  secret: 47b7172f9748fa42759cbaa4efbcdfb4d7b5edd67a4d10b36fb95a7dca962591597a2ef42cb4ea07950b404748c0b3707c4754981214ba3c471bf3cb18b80db0

spring:
  security:
    user:
      name: user@gmail.com
      password: 1234

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://i9B202.p.ssafy.io:2231/test?serverTimezone=UTC&characterEncoding=UTF-8
    username: npdp
    password: ffc704cc-3c03-4b47-b239-2ffd84e593ff

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000

  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com    # SMTP 서버 호스트
    port: 587               # SMTP 서버 포트
    username: ssafyidle@gmail.com    # SMTP 서버 아이디
    password: daktgkytdyaxvtna       # SMTP 서버 앱 패스워드
#    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true      # 사용자 인증 시도 여부 (기본값: false)
          timeout: 5000   # Socket Read Timeout 시간 (기본값: 무한대)
          starttls:
            enable: true  # StartTLS 활성화 여부 (기본값: false)
  auth-code-expiration-millis: 600000  # 10 * 60 * 1000 == 10분

  redis:
    host: i9b202.p.ssafy.io
    port: 6379

  profiles:
    active: oauth

logging:
  level:
    org.hibernate: INFO
    org.hibernate.type: INFO
    com.project.npdp.snslogin: DEBUG
